@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Verdana, Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #E4E3E3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
}

nav .header {
  display: flex;
  justify-content: space-between;
}

nav .header label {
  font-size: 30px;
  font-weight: 400;
}

nav .header button {
  display: none;
  width: 55px;
  background: #000;
  cursor: pointer;
  color: #FFF;
  border: none;
  border-radius: 4px;
}

nav .nav-links a{
  text-decoration: none;
  color: #000;
  padding: 0 8px;
}

nav .nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media screen and (max-width: 728px) {
  nav {
    display: block;
  }

  nav .header button {
    display: block;
  }

  nav .nav-links {
    padding: 12px 0;
    display: none;
  }

  nav .nav-links.active {
    display: block;
  }

  nav .nav-links a {
    display: block;
    padding: 12px 0;
  }
}